.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  padding: 10px;
  font-family: var(--font-geist-sans);
}

.paper {
  width: 95%;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background-color: #FFAB91 !important;
}

.list {
  width: 50%;
  padding: 10;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333;
  min-height: 500px;
}

.listItem {
  padding: 15px;
  margin: 10px 0;
  background-color: #ECEFF1;
  border-radius: 8px;
  height: calc(500px / 4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image {
  width: 50%;
  height: auto;
  padding: 20;
  position: relative;
}

@media (max-width: 600px) {
  .paper {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .list {
  width: 100%;
}

.listItem {
  padding: 15px;
  margin: 10px 0;
  background-color: rgba(var(--gray-rgb), 0.1);
  border-radius: 8px;
  min-height: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  .image {
    width: 90%;
    padding: 0;
  }
}
